body{
  font-size: 16px;
  color: rgb(45, 45, 45);
  margin: 0;
  font-family: "helvetica";

}

.flex-container {
 display: flex;

}

h1{

}

.text-logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.colmar {
  font-weight: bold;
}

nav{
  text-align:right;
  margin-left: auto;
  margin-right: 12px;
}

nav a{
  text-decoration: none;
  color: black;
  padding-right: 16px;
}

header{
  height: 64px;
  margin: 0;
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: flex-start;
}

.banner {
  background-color: rgb(215, 215, 215);
  justify-content: center;
  align-items: center;
}

.banner img{
  width: 60%;
  padding: 32px 24px 32px 24px;
}





.banner-text {
  width: 40%;
  padding-left: 24px;
}

.banner-text h1{
  font-weight: 900;
  font-size: 2.5rem;
}

.button1{
  width: 90%;
  background-color: rgb(88, 88, 88);
  text-align: center;
  height: 40px;
  margin: auto;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-block;
  padding: 8px 0px 8px 0px;
}



.information {
  width: 100%;
  margin-top: 1px;
}

.information-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  flex-shrink: 0;
  padding: 32px 24px 32px 24px;
}

.information-main img{
  width: 100%;

}

.information-main p{
  color: rgb(133, 133, 133);
}

.information-main h1{
  font-weight: 800;
  font-size: 2.3rem;
}

.cite {
  font-weight: bold;
  padding-bottom: 32px;
}

.information-sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.info-item {

  display: flex;
  flex-wrap: no-wrap;
  border-left: 1px rgb(215, 215, 215) solid;
  justify-content: center;
  border-bottom: 1px rgb(215, 215, 215) solid;
}

.info-item img{
  width: 35%;
  align-items: center;
  padding: 16px;
}

.info-item-text{
  width: 65%;
  padding-left: 16px;
  padding-top: 8px;
  margin: auto;
  padding-right: 8px;
  }

.info-item-text h2{
  font-size: 1.4rem;
  font-weight: bold;
}

.read-more {
  text-decoration: none;
  font-weight: bold;
  color: rgb(76, 130, 250);
}

.courses {
  background-color: rgb(232, 232, 232);
  justify-content: center;
  align-content: center;
  padding-top: 32px;
  text-align: center;
  padding-bottom: 32px;
}

.course-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.item {
  width: 25%;
  background-color: white;
  margin: 32px;

}

.item-text{
  padding: 16px;
}

.item img{
  display: block;
  width: 100%;
}

.thesis {
 text-align: center;
 background-color: rgb(237, 237, 237);
 margin-top: -22px;
 padding-top: 32px;
}

.thesis-container {
  display: flex;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.video-container {
width: 60%;
text-align: left;
display: flex;
flex-wrap: wrap;
padding-left: 24px;
}

.video-container video{
  padding-bottom: 24px;
}

.side-bar {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.sidebar-item img{
  width: 35%;
  align-items: center;
  padding: 16px;
}

.sidebar-text {
  width: 65%;
  padding-left: 16px;
  padding-top: 8px;
  margin: auto;
  padding-right: 8px;
  text-align: left;
}


footer{
   background-color: rgb(237, 237, 237);
   border-top: 1px lightgray solid;
  padding: 16px 24px 36px 16px;
   align-items: center;
   display: flex;
   justify-content: space-between;

}

.footer-links{
  text-align: right;
  padding-right: 24px;
}

footer a{
  text-decoration: none;
    color: rgb(45, 45, 45);
}
